# server

server/node_modules
server/config/config.js
server/.vscode

# client

client/config/config.json
client/node_modules
client/.pnp
client/.pnp.js

# testing

client/coverage

# next.js

client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem
/token

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

