.coins-container {
  /* height: 700px; */
  /* overflow-x: hidden; */
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  row-gap: 5px;
  column-gap: 10px;
}

.coins-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.coin-container {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  background-color: #222831;
  padding: 15px;
  transition: all 0.3s ease;
  /* border: solid 1px #eeeeee; */
  box-shadow: 0px 4px 0px 0px  rgba(238,238,238, 0.1);
} 

.coin-container:hover {
  box-shadow: 0px 4px 0px 0px rgba(238,238,238, 0.3);
}
  
.coin-title-container{
  margin: 0px 0px 20px 0px;
  max-width: fit-content;
}

.coin-title {
  line-height: 1.2;
  font-size: 16px;
  margin: 0px;
  font-weight: 500;
}
.coin-label {
  color: rgb(255, 211, 107);
}

.score-comments-container {
  display: flex; 
  column-gap: 10px;
}

.author-post-time-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.coin-author {
  float: right;
  font-size: 14px;
}

.coin-author:hover {
  text-decoration:underline;
}

/* The navigation bar */
.coins-controls-container {
  // padding:10px;
  display:flex;
  overflow: hidden;
  background-color: #393E46;
  align-items: center;
  padding: 20px 10px;
  column-gap: 20px;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.coins-control-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.coins-control-sortin-direction-button {
  background-color: transparent;
  border: 0;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  color: #eeeeee;
}
.coins-control-subreddits-container{ 
  max-width: 500px;
}