$columnGap: 25px;
$formBackgroundColor: hsl(220, 4%, 27%);
$infoBackgroundColor: hsl(220, 4%, 27%);
$borderColor: rgb(160, 157, 157);
$containerPadding: 20px;

@mixin subContainer {
  width: calc(50% - (#{$columnGap}/ 2));
  padding: $containerPadding;
}

.container {
  display: flex;
  margin-top: 30px;
}

.form {
  @include subContainer;
  display: flex;
  flex-direction: column;
  margin-right: $columnGap;
  background-color: $formBackgroundColor;
  border: solid 1px $borderColor;
}

.infoContainer {
  @include subContainer;
}

.button {
  width: 100%;
  margin-top: 5px;
  height: 35px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.input {
  margin-bottom: 20px;
}
